@import "tailwindcss";
@theme {
  --color-primary: #1B4965;
  --color-secondary: #62B6CB;
  --color-accent-light: #CAE9FF;
  --color-accent-mid: #BEE9E8;
  --color-accent-dark: #5FA8D3;
  --color-text: #000000;
}

@layer base {
  body {
    overflow-x: hidden;
  }
}
